body{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    font-style: bold;
    font-family: fantasy;
    background-color: #333;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    overflow: clip;
}

.width-100{
    width: 100%;
}

.border-grey{
    border: solid 1px lightgray;
}

.border-round{
    border-radius: 10px;
}

.cont-title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    height:30px;
    font-size: 24px;
    flex-shrink: 0;
    background-color: brown;
    border-radius: 10px 10px 0 0;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.item:nth-of-type(2n+0){
    background-color: rgb(129, 222, 238);
}

.item:nth-of-type(2n+1){
    background-color: rgb(86, 19, 173);
    color: whitesmoke;
}

.spacebetween{
    justify-content: space-between;
}

.spaceevenly{
    justify-content: space-evenly;
}

.spacearound{
    justify-content: space-around;
}

.center{
    justify-content: center;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.left{
    justify-content: flex-start;
}

.right{
    justify-content: flex-end;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.width-33{
    width: 33%;
}

.width-20{
    width: 20%;
}

.align-center{
    align-items: center;
}

.height-50{
    height: 50vh;
}

.height-30{
    height: 30vh;
}

.height-40{
    height: 40vh;
}

.flex{
    display: flex;
}

.shrink-0{
    flex-shrink: 0;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.height-auto{
    height: auto;
}

.grow-1{
    flex-grow: 1;
}

.max-height-50{
    max-height: calc(100% - 50px)
}

.align-flex-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-flex-end{
    align-items: flex-end;
}

.align-spacebetween{
    align-content: space-between;
}

.align-spacearound{
    align-content: space-around;
}

.align-nospace{
    align-content: flex-end;
}